#root {
  max-width: 60vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 80%;
  margin-top: 1.5em;
}
.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

h2 {
  text-decoration: underline;
}